body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #faf3e0; /* Beige claro */
}

header {
    background-color: #f7b98e; /* Naranja claro */
    color: #5a4633; /* Marrón oscuro */
    padding: 15px 0;
    text-align: center;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 20px;
}

header ul li a {
    color: #5a4633; /* Marrón oscuro */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
}

header ul li a:hover {
    background-color: #f9d3b4; /* Beige oscuro */
    border-radius: 5px;
}

#portafolio {
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
}

#portafolio h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #5a4633; /* Marrón oscuro */
}

.proyecto {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff; /* Blanco */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.proyecto h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #f39c5e; /* Naranja suave */
}

.proyecto p {
    font-size: 1.2em;
    color: #5a4633; /* Marrón oscuro */
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #f7b98e; /* Naranja claro */
    color: #5a4633; /* Marrón oscuro */
    margin-top: 30px;
}