
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5dc; /* Beige claro */
}

nav {
    background-color: #e76f51; /* Naranja más oscuro */
    color: #ffffff; /* Blanco */
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #ffffff; /* Blanco */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #f4a261; /* Naranja suave */
    border-radius: 5px;
}

header {
    text-align: center;
    padding: 60px 0;
    background-color: #f4a261; /* Naranja suave */
    color: #ffffff; /* Blanco */
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
}

section {
    padding: 30px;
    margin: 20px auto;
    background-color: #ffffff; /* Blanco */
    border-radius: 5px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #e76f51; /* Naranja más oscuro */
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #e76f51; /* Naranja más oscuro */
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 15px;
}

section ul li strong {
    display: block;
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #e0c097; /* Beige medio */
    color: #ffffff; /* Blanco */
    margin-top: 30px;
}